<header>
    <nav>
        <div class="navbar">
            <label class="title">Dynamic accessibility, customize for web pages</label>
            <ul class="tabs">
                <li><a href="/"> Home </a></li>
                <li><a href="/accessibility"> Accessibility </a></li>
                <li><a href="/login"> Login </a></li>
            </ul>
        </div>
    </nav>
</header>