<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Page</title>
    <link rel="stylesheet" href="/css/fakepage.css">

    {{#if preferences}}
    <style>
        body {
            font-family: {{preferences.font_style}}, sans-serif;
            font-size: {{preferences.font_size}}px;
            color: {{preferences.font_colour}};
            {{#if preferences.colour_contrast}}background-color: black;{{/if}}
        }

        {{#if preferences.images_to_text}}
        img {
            display: none; /* Hide images if images-to-text is enabled */
        }
        {{/if}}
    </style>
    {{/if}}
</head>
<body>
    <h1>Welcome to the Fake Page</h1>
    <p>This page dynamically applies your accessibility preferences.</p>
    <img src="/img/beaver.png" alt="beaver Image">


</body>
</html>
