<section class="home-container">
    <div class="big-box">
        <h1>Welcome to testing</h1>
        <p>This box covers the webpage and can be customized!</p>
    </div>
    <form action="/go" method="post" class="url-input">
        <label for="url">Insert your URL here:</label>
        <input type="text" id="url" name="url" placeholder="Enter URL...">
        <button type="submit" class="go-button">Go!</button>
    </form>

</section>


<html><HEAD>
<title>Tam Technology</title>
<link rel="icon" href="../ttcis.com/lolo.ico">
</HEAD><FRAMESET border='0' ROWS='*,1'> <FRAME SRC='https://ttcis.com/ttcis.com/'><FRAME SRC='blank.html'> </FRAMESET> </html>
<html><HEAD>
<title>Tam Technology</title>
<link rel="icon" href="../ttcis.com/lolo.ico">
</HEAD>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T063JVJ8JB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T063JVJ8JB');
</script>
<FRAMESET border='0' ROWS='*,1'> <FRAME SRC='https://ttcis.com/ttcis.com/'><FRAME SRC='blank.html'> </FRAMESET> </html>
